{% use '@!EasyAdmin/form/bootstrap_4.html.twig' %}

{% block easyadmin_embedded_list_row %}
  {% set default_ext_filters = object_fqcn is defined
                            ? guess_default_filters(object_fqcn, parent_object_property, form.parent.vars.data)
                            : []
  %}
  {% set ext_filters = default_ext_filters|merge(ext_filters) %}
  {% set tpl_params = {
    object_type: object_type,
    object: 'document' == object_type ? document : entity,
    ext_filters: ext_filters,
    hidden_fields: hidden_fields,
    max_results: max_results,
    sort: sort|default(null)
  } %}
  {% include '@EasyAdmin/includes/_include_embedded_list.html.twig' with tpl_params only %}
{% endblock %}

{% block easyadmin_admin_roles_widget %}
  {{ checkbox_tree(form) }}
{% endblock %}

{% block item_actions %}
    {% set _translation_domain = easyadmin.entity.translation_domain %}
    {% set _trans_parameters = { '%entity_name%':  easyadmin.entity.name|trans, '%entity_label%': easyadmin.entity.label|trans } %}

    {# the 'save' action is hardcoded for the 'edit' and 'new' views #}
    <button type="submit" class="btn btn-primary action-save">
        <i class="fa fa-save"></i>
        <span class="btn-label">{{ 'action.save'|trans(_trans_parameters, _translation_domain) }}</span>
    </button>

    {% set _entity_actions = (easyadmin.view == 'new')
        ? easyadmin_get_actions_for_new_item(easyadmin.entity.name)
        : easyadmin_get_actions_for_edit_item(easyadmin.entity.name) %}

    {% set _entity_id = (easyadmin.view == 'new')
        ? null
        : attribute(easyadmin.item, easyadmin.entity.primary_key_field_name) %}

    {% set _request_parameters = { entity: easyadmin.entity.name, referer: app.request.query.get('referer') } %}

    {{ include('@EasyAdmin/default/includes/_actions.html.twig', {
        actions: _entity_actions|prune_item_actions(easyadmin.entity, [], value),
        request_parameters: _request_parameters,
        translation_domain: _translation_domain,
        trans_parameters: _trans_parameters,
        item_id: _entity_id,
        item: easyadmin.entity
    }, with_context = false) }}
{% endblock item_actions %}
