language: php
sudo: false

cache:
    directories:
        - $HOME/.composer/cache/files
        - $HOME/symfony-bridge/.phpunit

env:
    global:
        - ENABLE_CODE_COVERAGE="false"
        - PHPUNIT_FLAGS="-v"
        - SYMFONY_PHPUNIT_DIR="$HOME/symfony-bridge/.phpunit"
        - SYMFONY_DEPRECATIONS_HELPER="999999"

matrix:
    fast_finish: true
    include:
        - php: 7.1
          env: CHECK_PHP_SYNTAX="true"
               COMPOSER_FLAGS="--prefer-stable --prefer-lowest" SYMFONY_DEPRECATIONS_HELPER=weak
               SYMFONY_VERSION="4.2.*"
               TWIG_VERSION="^2.4"

        - php: 7.2
          env: COMPOSER_FLAGS="--ignore-platform-reqs"

        - php: 7.3
          env: COMPOSER_FLAGS="--prefer-stable --prefer-lowest" SYMFONY_DEPRECATIONS_HELPER=weak
               SYMFONY_VERSION="4.2.*"
               TWIG_VERSION="^2.4"
               ENABLE_CODE_COVERAGE="true"

          # Latest commit to master
        - php: nightly
          env: COMPOSER_FLAGS="--ignore-platform-reqs" SYMFONY_PHPUNIT_VERSION=8.4
    allow_failures:
          # Dev-master is allowed to fail.
        - php: nightly

before_install:
    - phpenv config-rm xdebug.ini || true
    - if [[ "$CHECK_PHP_SYNTAX" == "true" ]]; then wget https://cs.symfony.com/download/php-cs-fixer-v2.phar -O php-cs-fixer; fi
    - phpenv global 7.2; composer global require --prefer-dist --no-progress --no-scripts --no-plugins symfony/flex dev-master; phpenv global $TRAVIS_PHP_VERSION
    - if [[ "$ENABLE_CODE_COVERAGE" != "true" && "$TRAVIS_EVENT_TYPE" != "cron" ]]; then rm -f ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini; fi;

install:
    - composer update $COMPOSER_FLAGS --no-interaction
    - phpenv global 7.2; ./vendor/bin/simple-phpunit install; phpenv global $TRAVIS_PHP_VERSION
    - if [[ "$ENABLE_CODE_COVERAGE" == "true" ]]; then composer require --dev php-coveralls/php-coveralls; fi

script:
    - composer validate --strict --no-check-lock
    - if [[ "$CHECK_PHP_SYNTAX" == "true" ]]; then php php-cs-fixer --no-interaction --dry-run --diff -v fix; fi
    # this run PHPStan level 5 static analysis
    - vendor/bin/phpstan analyse -c phpstan.neon --level=5 src
    # this checks that the Twig template files contain no syntax errors
    - ./tests/bin/console lint:twig "src" "tests"
    # this checks that the YAML config files contain no syntax errors
    - ./tests/bin/console lint:yaml "tests"

    - if [[ $ENABLE_CODE_COVERAGE == "true" ]]; then vendor/bin/simple-phpunit $PHPUNIT_FLAGS --coverage-text --coverage-clover build/logs/clover.xml; else vendor/bin/simple-phpunit $PHPUNIT_FLAGS; fi
    - if [[ "$CHECK_PHP_SYNTAX" == "yes" ]]; then php vendor/bin/php-cs-fixer --no-interaction --dry-run --diff -v fix; fi;
    - if [[ "$CHECK_PHP_SYNTAX" == "yes" ]]; then mv ./.php_cs.cache $HOME/.app/cache/.php_cs.cache 2> /dev/null; fi;

after_success:
    - if [[ "$ENABLE_CODE_COVERAGE" == "true" ]]; then php vendor/bin/php-coveralls -v --config .coveralls.yml; fi;
