version: '3.2'

services:

    phpunit:
        image: phpunit/phpunit
        volumes:
            - ./:/app
        entrypoint:
          - php
          - /app/vendor/phpunit/phpunit/phpunit

    php-cs-fixer:
        image: ekreative/php-cs-fixer
        volumes:
            - ./:/app
        entrypoint:
          - /usr/local/bin/php-cs-fixer
          - fix
          - /app/.
