version: '3.9'

services:

    phpunit:
        build: docker/phpunit
        volumes:
            - ./:/app
        entrypoint:
          - 'php'
          - '/app/vendor/bin/simple-phpunit'
          - '-c'
          - '/app/phpunit.xml.dist'

