#list-form-filters-header {
  padding: 10px 20px;
}
#list-form-filters-header[data-toggle^="collapse"] {
  cursor: pointer;
}
#list-form-filters-form {
  padding: 5px;
}
#list-form-filters-form .field-list_filter > .form-widget > .form-widget-compound > .collection-empty {
  display: none;
}

/* SHOW vertical */
.form-vertical .form-group {
  display: block;
  flex-wrap: unset;
  align-items: unset;
}
.form-vertical .form-group .control-label {
  font-weight: bold;
}
.form-vertical .form-widget {
  flex: unset;
  flex-direction: unset;
  align-items: unset;
}
