<div id="modal-confirm" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p class="modal-body-content" data-default="{{ 'confirm_modal.content'|trans(_trans_parameters, 'EasyAdminBundle') }}"></p>
                <form name="confirm_form" method="post" id="confirm-form">
                    <button type="button" data-dismiss="modal" class="btn">
                        {{ 'action.cancel'|trans(_trans_parameters, _translation_domain) }}
                    </button>
                    <button type="submit" id="modal-confirm-button" class="btn btn-danger">
                        {{ 'confirm_modal.action'|trans(_trans_parameters, 'EasyAdminBundle') }}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
