<div id="create-object-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body"></div>
        </div>
    </div>
</div>

<script src="{{ asset('bundles/easyadminextension/js/autocomplete-create.js') }}"></script>
