<div id="modal-entity-form" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body"></div>
        </div>
    </div>
</div>

<script src="{{ asset('bundles/easyadminextension/js/autocomplete-create.js') }}"></script>
