<div id="modal-entity-form" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p class="modal-body-content"></p>
            </div>
        </div>
    </div>
</div>
